<h3 class="center m-4"> LISTADO DE PROPUESTAS </h3>
<div class="p-4">
    <table class="row-border hover w-auto cell-border compact" cellspacing="0"
        datatable="ng" [dtOptions]="dtOptions" class="row-border hover fixed"
        [dtTrigger] = "dtTrigger"
        id="propuesta">
        <thead>
            <tr>
                <th> Acciones </th> 
                <th> Nro Propuesta </th>
                <th> Endoso </th>
                <th> Poliza </th>
                <th> Tipo </th>
                <th> Rut Cliente </th>
                <th> Razon Social / Nombre </th>
                <th> Compañia </th>
                <th>Inicio Vigencia</th>
                <th>Fin Vigencia</th> 
                <th> Estado </th>
                <th> Estado Pago </th>  
                          
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let poliza of polizaService.poliza">
                <td>
                    <button class="btn btn-primary p-1"> ESTADO </button>
                    <span [routerLink]="['/polizas/editar/'+poliza._id]"><img src="assets/img/edit-solid.svg" alt="" srcset="" style="height: 2rem; width: 2rem;"></span>
                    <button class="btn p-1" [routerLink]="['/polizas/descargar/'+poliza._id]"><img src="assets/img/download_111133.png" alt="descargar"></button>
                </td>
                <td> {{poliza.nroPropuesta| mask:"separator":"."}} </td>
                <td> {{poliza.numeroEndoso| mask:"separator":"."}} </td>
                <td> {{poliza.nroPoliza| mask:"separator":"." }} </td>
                <td> {{poliza.nombrePropuesta}} </td>
                <td> {{poliza.rutCliente|mask:"00.000.00A-A||0.000.00A-A"}} </td>
                <td> {{poliza.nombreCliente}} </td>
                <td> {{poliza.nombreAseguradora}} </td>
                <td> {{poliza.inicioVigencia|date: "dd/MM/yyyy"}} </td>
                <td> {{poliza.finVigencia|date: "dd/MM/yyyy"}} </td>
                <td> {{poliza.estado}} </td>
                <td> {{poliza.estadoPago}} </td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<br>
<div class="d-flex justify-content-around">
    <div class="bg p-3">
        <h3 class="center pb-3">Próximos Pagos</h3>
        <table class="table table-bordered table-dark table-responsive-sm">
            <thead>
                <tr>
                    <th>Nro Propuesta</th>
                    <th>Rut Compañia Aseguradora</th>
                    <th>Compañia Aseguradora</th>
                    <th> Fecha Vencimiento </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>77.889.777-1</td>
                    <td>Entel</td>
                    <td> 15 - Octubre - 2020 </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>