<h2 class="center m-1 pt-2"> Polizas </h2>
<form class="ml-5 mr-5">
    <div class="p-1">
        <label for="DatosAsegurados"> Datos Asegurados</label>
        <hr>        
            <div class="center form-row" id="DatosAsegurados">
                <div class="col-md-6">
                    <label for="company"> Compañia Aseguradora </label>
                  <input type="text" class="form-control" placeholder="Nombre Compañia" id="company">
                </div>
                <div class="col-md-4 col-lg-2">
                    <label for="NombreAsegurado"> Fecha Propuesta </label>
                    <input type="date" class="form-control" placeholder="First name" id="NombreAsegurado">
                </div>
                <div class="col-md-4 col-lg-2">
                    <label for="NombreAsegurado"> Ramo </label>
                    <select class="form-control" name="ramo" id="NombreAsegurado" aria-placeholder="ramos">
                        <option value=""> Incendios </option>
                        <option value=""> Vehiculos </option>
                        <option value=""> Etcétera </option>
                    </select>
                </div>
                <div class="col-md-4 col-lg-2">
                  <label for="NombreAsegurado"> Numero Propuesta</label>
                  <input type="Text" class="form-control textalign-right" placeholder="First name" id="NombreAsegurado" readonly value="1">
                </div>
            </div>
            <div class="center form-row mt-3">
                <div class="col-md-4 col-lg-2">
                    <label for="NombreAsegurado"> Nombre Cliente </label>
                    <input type="text" class="form-control" placeholder="Nombre Cliente" id="NombreAsegurado">
                </div>
                <div class="col-md-4 col-lg-2">
                    <label for="NombreAsegurado"> Rut Cliente</label>
                    <input type="Text" class="form-control" placeholder="Rut Cliente" id="NombreAsegurado">
                </div>
                <div class="col-md-4 col-lg-2">
                    <label for="NombreAsegurado"> Nombre Acreedor </label>
                    <input type="text" class="form-control" placeholder="Nombre Acreedor" id="NombreAsegurado">
                </div>
                <div class="col-md-4 col-lg-2">
                    <label for="NombreAsegurado"> Rut Acreedor</label>
                    <input type="Text" class="form-control" placeholder="Rut Acreedor" id="NombreAsegurado">
                </div>
                <div class="col-md-4 col-lg-2">
                    <label for="NombreAsegurado"> Nombre Mandante</label>
                    <input type="Text" class="form-control" placeholder="Nombre Mandante" id="NombreAsegurado">
                </div>
                <div class="col-md-4 col-lg-2">
                    <label for="NombreAsegurado"> Rut Mandante</label>
                    <input type="Text" class="form-control" placeholder="Rut Mandante" id="NombreAsegurado">
                </div>
            </div>
            <div class="center form-row mt-3">
                <div class="col-md-4 col-lg-4">
                    <label for="NombreAsegurado"> Direccion Comercial </label>
                    <input type="text" class="form-control" placeholder="Direccion Comercial" id="NombreAsegurado">
                </div>
                <div class="col-md-4 col-lg-4">
                    <label for="NombreAsegurado"> Comuna </label>
                    <input type="Text" class="form-control" placeholder="Comuna" id="NombreAsegurado">
                </div>
            </div>
    </div> 
    <hr>
    <div class="p-1">   
            <div class="center form-row" id="DatosAsegurados">
                <div class="col-md-3 col-lg-2">
                    <label for="company"> Proveedor Negocio </label>
                  <input type="text" class="form-control" placeholder="Nombre proveedor" id="company">
                </div>
                <div class="col-md-3 col-lg-2">
                    <label for="company"> Comisión </label>
                  <input type="text" class="form-control" placeholder="Comisión" id="company">
                </div>
                <div class="col-md-3 col-lg-2">
                    <label for="company"> Inicio Vigencia </label>
                  <input type="date" class="form-control" id="company">
                </div>
                <div class="col-md-3 col-lg-2">
                    <label for="company"> Fin Vigencia </label>
                  <input type="date" class="form-control" id="company">
                </div>
            </div>
    </div>
    <hr>
    <div class="p-1">   
            <div class="center form-row" id="DatosAsegurados">
                <div class="col-md-3 col-lg-2">
                    <label for="company"> Comision Afecta % </label>
                  <input type="number" class="form-control" placeholder="Valor Afecta %" id="company">
                </div>
                <div class="col-md-2 col-lg-2">
                    <label for="company"> Prima Afecta </label>
                  <input type="number" class="form-control" placeholder=" Prima Afecta" id="company">
                </div>
                <div class="col-md-2 col-lg-2">
                    <label for="company"> Comisión Exenta % </label>
                  <input type="number" class="form-control" id="company" placeholder=" Valor Exenta % ">
                </div>
                <div class="col-md-2 col-lg-2">
                    <label for="company"> Prima Exenta </label>
                  <input type="number" class="form-control" id="company" placeholder=" Prima Exenta ">
                </div>
                
                <div class="col-md-2 col-lg-2">
                    <label for="company"> Prima Neta </label>
                  <input type="number" class="form-control" id="company" placeholder=" Prima NETA ">
                </div>
                
                <div class="col-md-2 col-lg-2">
                    <label for="company"> IVA </label>
                  <input type="number" class="form-control" id="company" placeholder=" IVA ">
                </div>
                <div class="col-md-2 col-lg-2">
                    <label for="company"> Prima Bruta </label>
                  <input type="number" class="form-control" id="company" placeholder=" Prima Bruta ">
                </div>
                <div class="col-md-2 col-lg-2">
                    <label for="company"> Tipo Moneda </label>
                  <select class="form-control" id="company" placeholder=" Tipo de moneda como se pagara ">
                    <option value="">UF</option>
                    <option value="">CLP</option>
                    <option value="">ARP</option>
                    <option value="">AMD</option>
                  </select>
                </div>
            </div>
    </div>
    <hr>
    <div class="p-1">   
            <div class="center form-row" id="DatosAsegurados">
                <div class="col-md-2 col-lg-2">
                    <label for="company"> Sub-Ramo </label>
                  <input type="number" class="form-control" placeholder=" Sub Ramo " id="company">
                </div>
                <div class="col-md-2 col-lg-2">
                    <label for="company"> Monto Total </label>
                  <input type="number" class="form-control" placeholder=" Monto Asegurado Total " id="company">
                </div>
                <div class="col-md-2 col-lg-2">
                    <label for="company"> Coberturas </label>
                  <input type="text" class="form-control" id="company" placeholder=" Valor Excenta %">
                </div>
                <div class="col-md-2 col-lg-2">
                    <label for="company"> Limites </label>
                  <input type="text" class="form-control" id="company" placeholder=" Limites ">
                </div>
                <div class="col-md-2 col-lg-2">
                    <label for="company"> Items </label>
                  <input type="text" class="form-control" id="company" placeholder=" Items ">
                </div>
            </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
      <button class="btn bg-primary m-2"> Agregar </button>
    </div>
</form>
