<div>
    <button class="btn btn-primary" (click) = "onExportClick()"> Imprimir </button>
</div>
<div class="d-flex justify-content-center m-2" >
    <div class="col-lg-6" >
        <div id="poliza" class="col-lg-12 bg-white bord">
            <div class="col-lg-12 d-flex flex-row justify-content-between">
                <h3 class="m-3 pt-2 d-flex"> PROPUESTA {{data.nombrePropuesta}} </h3>
                <img class="mt-3 mr-3"  src="../../../assets/img/Logo.jpg" style="height: auto; width: 20%">
            </div>
            <hr>
            <div class="col-lg-12 d-flex flex-row">
                <div class="col-lg-7 fz">
                    <strong> PÓLIZA : </strong> <span> {{ data.nroPoliza| mask:"separator":"." }} </span>
                </div>
                <div class="col-lg-5 fz">
                    <strong> NÚMERO PROPUESTA : </strong> <span class="fec"> {{ data.nroPropuesta| mask:"separator":"." }} </span>
                </div>
            </div>
            <div class="col-lg-12 d-flex flex-row-reverse">
                <div class="col-lg-5 fz">
                    <p>
                        <strong> FECHA PROPUESTA : </strong> <span type="date" > {{data.fcPropuesta| date: 'dd/MM/yyyy' }} </span>
                    </p>
                </div> 
            </div>
            <div class="col-lg-12 d-flex flex-row justify-content-between fz">
                <div>
                    <p> <Strong>COMPAÑIA DE SEGUROS :</Strong> <span class="justify-content-center"> {{ data.nombreAseguradora }} </span> </p>
                </div>
            </div>
            <div class="col-lg-12 d-flex flex-row fz">
                <div>
                    <p> <Strong>RAMO :</Strong> <span> {{ data.ramo }} </span> </p>
                </div>
            </div>
            <hr>
            <div class="col-lg-12 d-flex flex-row">
                <div class="col-lg-6 fz">
                    <strong> VIGENCIA DESDE : </strong> <span> {{ data.inicioVigencia| date: 'dd/MM/yyyy' }} </span>
                </div>
                <div class="col-lg-6 fz">
                    <strong> VIGENCIA HASTA : </strong> <span> {{ data.finVigencia| date: 'dd/MM/yyyy' }} </span>
                </div>
            </div>
            <div class="col-lg-12 d-flex flex-row ">
                <div class="col-lg-6 fz">
                    <strong> PRODUCTOR :</strong> <span> KONEX CORREDORES DE SEGUROS </span>
                </div>
                <br>
                <div class="col-lg-6 fz">
                    <strong> RUT : </strong> <span> 76.912.042-4 </span>
                </div>
            </div>
            <br>
            <div class="col-lg-12 d-flex flex-row">
                <div class="col-lg-6 fz">
                    <strong> CONTRATANTE : </strong> <span> {{ data.nombreCliente }}</span>
                </div>
                <div class="col-lg-6 fz">
                    <strong> RUT : </strong> <span > {{ data.rutCliente | mask:"00.000.00A-A||0.000.00A-A" }} </span>
                </div>
            </div>
            <div class="col-lg-12 d-flex flex-row">
                <div class="col-lg-12 fz">
                    <strong> DIRECCIÓN COMERCIAL :</strong> <span> {{ data.direccion }} {{ data.region }} {{ data.comuna }} </span>
                </div>
            </div>
            <hr>
            <div class="col-lg-12 d-flex flex-row">
                <div class="col-lg-12 fz">
                    <strong> TIPO DE MONEDA :</strong> <span> {{ data.tipoMoneda }} </span>
                </div>
            </div>
            <div class="col-lg-12 d-flex flex-row">
                <div class="col-lg-12 fz">
                    <strong> PRIMA AFECTA :</strong> <span> {{ data.primaAfecta| mask:"separator.2":"."}} </span>
                </div>
            </div>
            <div class="col-lg-12 d-flex flex-row">
                <div class="col-lg-12 fz">
                    <strong> PRIMA EXENTA </strong> <span> {{ data.primaExenta| mask:"separator.2":"." }} </span>
                </div>
            </div>
            <div class="col-lg-12 d-flex flex-row">
                <div class="col-lg-12 fz">
                    <strong> IVA :</strong> <span> {{ data.iva }} </span>
                </div>
            </div>
            <div class="col-lg-12 d-flex flex-row">
                <div class="col-lg-12 fz">
                    <strong> PRIMA BRUTA :</strong> <span> {{data.primaBruta| mask:"separator.2":"."}} </span>
                </div>
            </div>
            <div class="col-lg-12 d-flex flex-row">
                <div class="col-lg-12 fz d-flex justify-content-between">
                    <strong> FORMA DE PAGO :</strong> <span> {{ data.formaPago }} , <strong> NRO. CUOTAS :</strong> {{ data.nroCuotas }} , <strong> FECHA PRIMERA CUOTA </strong>{{ data.fcPrimeraCuota| date: 'dd/MM/yyyy' }}</span>
                </div>
            </div>
            <div class="col-lg-12 d-flex flex-row">
                <div class="col-lg-12 fz">
                    <strong> COMISIÓN :</strong> <span> {{ data.comisionKonex }} </span>
                </div>
            </div>
            <hr>
            
            <div class="col-lg-12 fz">
                <strong> COBERTURAS SEGÚN COTIZACIÓN 2019-1885-3 </strong>
            </div>            
            <span contenteditable="">
                {{ data.cobertura }}
            </span>
            <hr>
            <div class="col-lg-12 d-flex flex-row fz"> 
                <strong> CONDICIONES PARTICULARES </strong>
            </div>
            <div class="col-lg-12 d-flex flex-row fz">
                <span>
                    {{ data.limites }}
                </span>
            </div>
            <br>
        </div>       
    </div>
</div>


