h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}
.bord{
    border: 2px solid black;
}
.end{
    display: flex;
    align-items: flex-end;
}
hr{
    height: 1px;
    background-color: black;
}
.fz{
    font-size: 12px;
}
span{
    font-size: 12px
}
.fec{
    flex: row-reverse;
}
textarea{
    overflow: hidden;
    resize: none;
    border: none;
}