<h2 class="center m-1 pt-2" *ngIf="editar"> Editar Propuesta {{ poliza.selectPoliza.nombrePropuesta }} </h2>
<h2 class="center m-1 pt-2" *ngIf="incorporar"> Propuesta: Endoso de Incorporación </h2>
<h2 class="center m-1 pt-2" *ngIf="excluir"> Propuesta: Endoso de Exclusión </h2>
<h2 class="center m-1 pt-2" *ngIf="modificar"> Propuesta: Endoso de Modificación </h2>
<h2 class="center m-1 pt-2" *ngIf="anular"> Propuesta: Endoso de Anulación </h2>
<h2 class="center m-1 pt-2" *ngIf="cancelar"> Propuesta: Endoso de Cancelación </h2>

<div class="d-flex justify-content-start">
  <button class="btn btn-primary m-1" (click)="editarBtn()" onclick="editar()">EDITAR</button>
  <button class="btn btn-primary m-1" (click)="modificarBtn()" onclick="modificar()">MODIFICAR</button>
  <button class="btn btn-primary m-1" (click)="incorporarBtn()" onclick="incorporar()">INCORPORAR</button>
  <button class="btn btn-primary m-1" (click)="excluirBtn()" onclick="excluir()">EXCLUIR</button>
  <button class="btn btn-primary m-1" (click)="anularBtn()" onclick="anular()">ANULAR</button>
  <button class="btn btn-primary m-1" (click)="cancelarBtn()" onclick="cancelar()">CANCELAR</button>
</div>

<form #polizaForm= "ngForm" class="ml-5 mr-5" ngNativeValidate enctype = "multipart/form-data">
  <div class="p-1">
    <div class="d-flex justify-content-end">
      <input type="hidden" class="form-control" id="_id" name="_id" #_id="ngModel"
        [(ngModel)]="poliza.selectPoliza._id">
      <input type="hidden" class="form-control" id="nombrePropuesta" name="nombrePropuesta" #nombrePropuesta="ngModel"
        [(ngModel)]="poliza.selectPoliza.nombrePropuesta">        
      <div class="col-sm-2 col-md-2 col-lg-2 justify-content-start">
        <label for="nroPoliza">Número de Poliza</label>
        <input type="text" class="form-control n" id="nroPoliza" value="0" name="nroPoliza" #nroPoliza="ngModel"
          [(ngModel)]="poliza.selectPoliza.nroPoliza" mask="separator.0" >
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 justify-content-start" ng-If="poliza.selectPoliza.nombrePropuesta !== 'POLIZA'">
        <label for="numeroEndoso">Número de Endoso</label>
        <input type="text" class="form-control n" id="numeroEndoso" value="0" name="numeroEndoso" #numeroEndoso="ngModel"
          [(ngModel)]="poliza.selectPoliza.numeroEndoso" mask="separator.0" >
      </div>
               
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label for="fcPropuesta"> Fecha Propuesta </label>
        <input type="date" class="form-control" id="fcPropuesta" value="" name="fcPropuesta" #fcPropuesta="ngModel"
          [(ngModel)]="poliza.selectPoliza.fcPropuesta" required readonly>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label for="nroPropuesta"> Numero Propuesta</label>
        <input type="text" class="form-control textalign-right n" value="0" id="nroPropuesta" name="nroPropuesta" #nroPropuesta="ngModel"
        [(ngModel)]="poliza.selectPoliza.nroPropuesta" mask="separator.0" readonly required>
      </div>
    </div>    
  </div>
  <div class="p-3">
    <hr>
    <div class="center form-row" id="DatosAsegurados">
      <div class="col-md-6">
        <label for="company" class="control-label"> Compañia Aseguradora </label>
        <input type="text" class="form-control" placeholder="Nombre Compañia" id="company" name="nombreAseguradora" #nombreAseguradora="ngModel"
        [(ngModel)]="poliza.selectPoliza.nombreAseguradora" required>
      </div>
      <div class="col-md-4 col-lg-2">
        <label for="ramo"> Ramo </label>
        <input type="text" class="form-control" placeholder="Ej: Incendios" id="ramo" name="ramo" #ramo="ngModel"
        [(ngModel)]="poliza.selectPoliza.ramo" required>
      </div>
      <div class="col-md-4 col-lg-2">
        <label for="montoAsegurado"> Monto Asegurado </label>
        <input type="text" class="form-control n" placeholder="Ej: Incendios" id="montoAsegurado" name="montoAsegurado" #montoAsegurado="ngModel"
        [(ngModel)]="poliza.selectPoliza.montoAsegurado" mask="separator.2" required>
      </div>
    </div>
    <div class="center form-row mt-3">
      <div class="col-md-4 col-lg-1">
        <label for="rutCliente"> Rut Cliente</label>
        <input type="Text" class="form-control" placeholder="Rut Cliente" id="rutCliente" name="rutCliente" #rutCliente="ngModel"
        [(ngModel)]="poliza.selectPoliza.rutCliente" mask="90.000.000-A || 00.000.000-A" required>
      </div>
      <div class="col-md-4 col-lg-1">
        <label for="alias"> Nombre Fantasia </label>
        <input type="text" class="form-control" placeholder="Nombre Fantasia" id="alias" name="alias" #alias="ngModel"
        [(ngModel)]="poliza.selectPoliza.alias">
      </div>
      <div class="col-md-4 col-lg-4">
        <label for="nombreCliente"> Razón Social / Nombre Cliente </label>
        <input type="text" class="form-control" placeholder="Razón Social / Nombre Cliente" id="nombreCliente" name="nombreCliente" #nombreCliente="ngModel"
        [(ngModel)]="poliza.selectPoliza.nombreCliente" required>
      </div>
      <div class="col-md-4 col-lg-1">
        <label for="rutAcreedor"> Rut Acreedor</label>
        <input type="Text" class="form-control" placeholder="Rut Acreedor" id="rutAcreedor" name="rutAcreedor" #rutAcreedor="ngModel"
        [(ngModel)]="poliza.selectPoliza.rutAcreedor" mask="90.000.00A-A || 00.000.00A-A">
      </div>
      <div class="col-md-4 col-lg-2">
        <label for="nombreAcreedor"> Nombre Acreedor </label>
        <input type="text" class="form-control" placeholder="Nombre Acreedor" id="nombreAcreedor" name="nombreAcreedor" #nombreAcreedor="ngModel"
        [(ngModel)]="poliza.selectPoliza.nombreAcreedor">
      </div>
      <div class="col-md-4 col-lg-2">
        <label for="nombreContacto"> Nombre Contacto</label>
        <input type="Text" class="form-control" placeholder="Nombre Contacto" id="nombreContacto" name="nombreContacto" #nombreContacto="ngModel"
        [(ngModel)]="poliza.selectPoliza.nombreContacto">
      </div>
      <div class="col-md-4 col-lg-1">
        <label for="telefonoContacto"> Telefono</label>
        <input type="text" class="form-control" placeholder="Fono Contacto" id="telefonoContacto" name="telefonoContacto" #telefonoContacto="ngModel"
        [(ngModel)]="poliza.selectPoliza.telefonoContacto">
      </div>
    </div>
    <div class="center form-row mt-3">
      <div class="col-md-3 col-lg-3">
        <label for="direccion"> Direccion Comercial </label>
        <input type="text" class="form-control" placeholder="Direccion Comercial" id="direccion" name="direccion" #direccion="ngModel"
        [(ngModel)]="poliza.selectPoliza.direccion" required>
      </div>
      <div class="col-md-3 col-lg-3">
        <label for="regiones"> Region </label>
        <select class="form-control" id="regiones" name="region" #region="ngModel" [(ngModel)]="poliza.selectPoliza.region">
        </select>
      </div>
      <div class="col-md-3 col-lg-3">
        <label for="comunas"> Comuna </label>
        <select class="form-control" id="comunas" name="comuna" #comuna="ngModel" [(ngModel)]="poliza.selectPoliza.comuna">
        </select>
      </div>
    </div>
  </div>
  <hr>

  <div class="p-3">
    <div class="center form-row" id="DatosAsegurados">      
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label for="inicioVigencia"> Inicio Vigencia </label>
        <input type="date" class="form-control" id="inicioVigencia" name="inicioVigencia" #inicioVigencia="ngModel"
        [(ngModel)]="poliza.selectPoliza.inicioVigencia" required>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label for="finVigencia"> Fin Vigencia </label>
        <input type="date" class="form-control" id="finVigencia" name="finVigencia" #finVigencia="ngModel"
        [(ngModel)]="poliza.selectPoliza.finVigencia" required>
      </div>
    </div>
  </div>
  <hr>
  <div class="p-3">
    <div class="center form-row" id="DatosAsegurados">
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label for="primaAfecta"> Prima Afecta </label>
        <input type="number" step="any" class="form-control n" placeholder="Prima Afecta" id="primaAfecta" name="primaAfecta" #primaAfecta="ngModel"
        [(ngModel)]="poliza.selectPoliza.primaAfecta"
        (change)="calcularIva(primaAfecta.value); calcularNeta(primaAfecta.value, primaExenta.value); calcularKonex(comisionAfecta.value, comisionExenta.value, primaAfecta.value, primaExenta.value); calcReferido(valorReferido.value)" required>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label for="primaExenta"> Prima Exenta </label>
        <input type="number" step="any" class="form-control n" id="primaExenta" placeholder="Prima Exenta"  name="primaExenta" #primaExenta="ngModel"
        [(ngModel)]="poliza.selectPoliza.primaExenta"
        (change) = "calcularNeta(primaAfecta.value, primaExenta.value); calcularKonex(comisionAfecta.value, comisionExenta.value, primaAfecta.value, primaExenta.value); calcReferido(valorReferido.value)" required>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label for="primaNeta"> Prima Neta </label>
        <input type="number" step="any" class="form-control n" id="primaNeta" placeholder=" Prima NETA "  name="primaNeta" #primaNeta="ngModel"
        [(ngModel)]="poliza.selectPoliza.primaNeta" required> 
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label for="iva"> IVA </label>
        <input type="number" step="any" class="form-control n" id="iva" placeholder="iva" name="iva" #iva="ngModel"
        [(ngModel)]="poliza.selectPoliza.iva" required>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label for="primaBruta"> Prima Bruta </label>
        <input type="number" step="any" class="form-control n" id="primaBruta" placeholder=" Prima Bruta "  name="primaBruta" #primaBruta="ngModel"
        [(ngModel)]="poliza.selectPoliza.primaBruta" required>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label for="tipoMoneda"> Tipo Moneda </label>
        <input type="text" class="form-control" id="tipoMoneda" placeholder="Tipo de moneda como se pagara" name="tipoMoneda" #tipoMoneda="ngModel"
        [(ngModel)]="poliza.selectPoliza.tipoMoneda" required>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
        <label for="comisionAfecta"> Comision Afecta % </label>
        <input type="number" step="any" class="form-control n" placeholder="Valor Afecta %" id="comisionAfecta" name="comisionAfecta" #comisionAfecta="ngModel"
        [(ngModel)]="poliza.selectPoliza.comisionAfecta"
        (change) = "calcularNeta(primaAfecta.value, primaExenta.value); calcularKonex(comisionAfecta.value, comisionExenta.value, primaAfecta.value, primaExenta.value); calcReferido(valorReferido.value)" required>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
        <label for="comisionExenta"> Comisión Exenta % </label>
        <input type="number" step="any" class="form-control n" id="comisionExenta" placeholder=" Valor Exenta % " name="comisionExenta" #comisionExenta="ngModel"
        [(ngModel)]="poliza.selectPoliza.comisionExenta"
        (change) = "calcularNeta(primaAfecta.value, primaExenta.value); calcularKonex(comisionAfecta.value, comisionExenta.value, primaAfecta.value, primaExenta.value); calcReferido(valorReferido.value)" required>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
        <label for="montoTotal"> Comision Total KONEX </label>
        <input type="number" step="any" class="form-control n" placeholder=" Monto Asegurado Total " value="0" id="montoTotal" name="montoTotal" #montoTotal="ngModel"
        [(ngModel)]="poliza.selectPoliza.montoTotal" required>
      </div>
      <div class="col-sm-2 col-md-1 col-lg-1 mt-3">
        <label for="porcentajeReferido"> Com. referido</label>
        <input type="number" step="any" class="form-control n" value="0" id="valorReferido" name="valorReferido" #valorReferido="ngModel"
        [(ngModel)]="poliza.selectPoliza.valorReferido" (change)= "calcReferido(valorReferido.value)">
      </div>
      <div class="col-sm-2 col-md-1 col-lg-1 mt-3">
        <label for="comisionReferido"> Com. referido UF</label>
        <input type="number" step="any" class="form-control n" value="0" id="comisionReferido" name="comisionReferido" #comisionReferido="ngModel"
        [(ngModel)]="poliza.selectPoliza.comisionReferido">
      </div>       
    </div>
  </div>
  <hr>

  <div class="p-3">
    <div class="center form-row" id="DatosAsegurados">      
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label for="formaPago"> Forma de Pago </label>
        <select class="form-control" name="" id="formaPago" name="formaPago" #formaPago="ngModel" [(ngModel)]="poliza.selectPoliza.formaPago" required>
          <option value="PAC"> PAC  </option>
          <option value="PAT"> PAT </option>
          <option value="DIRECTO"> DIRECTO </option>
        </select>

      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label for="nroCuotas"> Nro Cuotas </label>
        <input type="text" class="form-control n" id="nroCuotas" value="0" name="nroCuotas" #nroCuotas="ngModel"
        [(ngModel)]="poliza.selectPoliza.nroCuotas" required>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label for="fcPrimeraCuota"> Primera Cuota </label>
        <input type="date" class="form-control" id="fcPrimeraCuota" name="fcPrimeraCuota" #fcPrimeraCuota="ngModel"
        [(ngModel)]="poliza.selectPoliza.fcPrimeraCuota"> 
      </div>
    </div>
  </div>
  <hr>
  
  <div class="p-3">
    <div class="center form-row" id="DatosAsegurados">
      <div class="col-md-4 col-lg-4">
        <label for="cobertura"> Coberturas</label>        
        <textarea type="text" class="form-control" id="my-textarea" cols="200" rows="2" name="cobertura" #cobertura="ngModel"
        [(ngModel)]="poliza.selectPoliza.cobertura" wrap="hard" ></textarea>        
      </div>
      <div class="col-md-4 col-lg-4">
        <label for="limites"> Limites </label>
        <textarea class="form-control"cols="200" rows="2" id="my-textarea" name="limites" #limites="ngModel"
        [(ngModel)]="poliza.selectPoliza.limites"></textarea>
      </div>
      <div class="col-lg-4 col-md-4">
        <br>
        <label for="items"> Items </label>
        <br>
        <input (change)="onFileSelect($event)" type="file" name="photo" style="box-shadow: none;" observeFiles>
      </div>
    </div>
  </div>
  <hr>
  <div class="d-flex align-items-center justify-content-center" *ngIf="img">
    <img [src]="img" alt="" name="img" class="img-responsive">
</div>
  <hr>
  <input type="hidden" class="form-control" id="estado" name="estado" #estado="ngModel"
  [(ngModel)]="poliza.selectPoliza.estado" required>
  <input type="hidden" class="form-control" id="estadoPago" name="estadoPago" #estadoPago="ngModel"
  [(ngModel)]="poliza.selectPoliza.estadoPago" required>

  <div class="d-flex justify-content-center">
    <button *ngIf="editar" type="submit" class="btn btn-primary m-1" (click)="editarPropuesta(polizaForm)"> EDITAR </button>
  </div>
  <div class="d-flex justify-content-center">
    <button *ngIf="incorporar" type="submit" class="btn btn-primary m-1" (click)="incorporarPropuesta(polizaForm)" onclick="incorporar()"> INCORPORAR </button>
  </div>
  <div class="d-flex justify-content-center">
    <button *ngIf="excluir" type="submit" class="btn btn-primary m-1" (click)="excluirPropuesta(polizaForm)" onclick="excluir()" > EXCLUIR </button>
  </div>
  <div class="d-flex justify-content-center">
    <button *ngIf="modificar" type="submit" class="btn btn-primary m-1" (click)="modificarPropuesta(polizaForm)" onclick="modificar()" > MODIFICAR </button>
  </div>
  <div class="d-flex justify-content-center">
    <button *ngIf="anular" type="submit" class="btn btn-primary m-1" (click)="anularPropuesta(polizaForm)" onclick="anular()" > ANULAR </button>
  </div>
  <div class="d-flex justify-content-center">
    <button *ngIf="cancelar" type="submit" class="btn btn-primary m-1" (click)="cancelarPropuesta(polizaForm)" onclick="cancelar()" > CANCELAR </button>
  </div>
</form>
