<body>
    <div class="center">
        <form [routerLink]="['/polizas']" class="dv divbg">
            <div>
                <div>
                    <img src="assets/img/Logo.jpg" alt="logo">
                </div>            
                <div class="middle">
                    <label for="email">E-mail</label>
                    <input class="spacing" type="text" name="" id="email" placeholder="Email">
    
                    <label for="password">Password</label>
                    <input class="spacing" type="password" id="password" placeholder="Password">
                </div>
                <div class="trial">
                    <button class="btn primary" type="submit"> Ingresar </button>
                    <button class="btn secondary" > Salir </button>
                </div>
            </div>
        </form> 
    </div>   
</body>    