.btn {
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: #FFFFFF;
  padding: 12px;
  width: 100%;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  margin: 5px;
  display: inline-block;
}
.primary{
	background-color: #008CBA;
}

.secondary{
	background-color: #f44336;
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
}

.spacing{
	margin: 5px;
}

.dv{
	height: 40vh;
	width: 30vh;
}

.trial{
	display: flex;
	justify-content: baseline;
	align-items: baseline;
}

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=password], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

  
input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
  
input[type=submit]:hover {
	background-color: #45a049;
}
  
.divbg {
	border-radius: 8px;
	background-color: #fff;
	border:5px #eee solid ;
	padding: 20px;
}

.center-Text{
	text-align: center;
}
.middle{
	margin-top: 40px;
}
.bottom{
	margin-top: 100px;
}

img{
	max-width: 100%;
    max-height: 100%;		
}