<h2 class="center m-1 pt-2"> Polizas </h2>
<form class="ml-5 mr-5">
  <div class="p-1">
    <hr>        
    <div class="center form-row" id="DatosAsegurados">
        <div class="col-md-6">
            <label for="company"> Compañia Aseguradora </label>
          <input type="text" class="form-control" placeholder="Nombre Compañia" id="company">
        </div>
        <div class="col-md-4 col-lg-2">
            <label for="fc_prop"> Fecha Propuesta </label>
            <input type text class="form-control" id="fc_prop" value="{{ this.dated | date: 'dd-MMM-yyyy' }}" readonly> 
        </div>
        <div class="col-md-4 col-lg-2">
            <label for="ramo"> Ramo </label> <a [routerLink]="['/ramo']"><img src="src\assets\img\plus.svg" alt="agregar_ramo"></a>
            <select class="form-control" name="ramo" id="ramo" aria-placeholder="ramos">
              <option value=""> Incendios </option>
              <option value=""> Vehiculos </option>
              <option value=""> Etcétera </option>
            </select>
        </div>
        <div class="col-md-4 col-lg-2">
          <label for="nro_poliza"> Numero Propuesta</label>
          <input type="Text" class="form-control textalign-right" placeholder="First name" id="nro_poliza" readonly value="1">
        </div>
    </div>
    <div class="center form-row mt-3">
        <div class="col-md-4 col-lg-2">
            <label for="nombre_cli"> Nombre Cliente </label>
            <input type="text" class="form-control" placeholder="Nombre Cliente" id="nombre_cli">
        </div>
        <div class="col-md-4 col-lg-2">
            <label for="rut_cli"> Rut Cliente</label>
            <input type="Text" class="form-control" placeholder="Rut Cliente" id="rut_cli">
        </div>
        <div class="col-md-4 col-lg-2">
            <label for="nombre_ac"> Nombre Acreedor </label>
            <input type="text" class="form-control" placeholder="Nombre Acreedor" id="nombre_ac">
        </div>
        <div class="col-md-4 col-lg-2">
            <label for="rut_ac"> Rut Acreedor</label>
            <input type="Text" class="form-control" placeholder="Rut Acreedor" id="rut_ac">
        </div>
        <div class="col-md-4 col-lg-2">
            <label for="nombre_man"> Nombre Mandante</label>
            <input type="Text" class="form-control" placeholder="Nombre Mandante" id="nombre_man">
        </div>
        <div class="col-md-4 col-lg-2">
            <label for="rut_man"> Rut Mandante</label>
            <input type="Text" class="form-control" placeholder="Rut Mandante" id="rut_man">
        </div>
    </div>
    <div class="center form-row mt-3">

      <div class="col-md-3 col-lg-3">
        <label for="regiones"> Region </label>
        <select class="form-control" id="regiones"></select>
      </div>     
      <div class="col-md-3 col-lg-3">
        <label for="comunas"> Comuna </label>
        <select class="form-control" id="comunas"></select>
      </div>
      <div class="col-md-3 col-lg-3">
        <label for="NombreAsegurado"> Direccion Comercial </label>
        <input type="text" class="form-control" placeholder="Direccion Comercial" id="NombreAsegurado">
      </div>
    </div>
    
  </div> 
    <hr>
    <div class="p-1">   
      <div class="center form-row" id="DatosAsegurados">
        <div class="col-md-3 col-lg-2">
            <label for="company"> Proveedor Negocio </label>
          <input type="text" class="form-control" placeholder="Nombre proveedor" id="company">
        </div>
        <div class="col-md-3 col-lg-2">
            <label for="company"> Comisión </label>
          <input type="text" class="form-control" placeholder="Comisión" id="company">
        </div>
        <div class="col-md-3 col-lg-2">
            <label for="company"> Inicio Vigencia </label>
          <input type="date" class="form-control" id="company">
        </div>
        <div class="col-md-3 col-lg-2">
            <label for="company"> Fin Vigencia </label>
          <input type="date" class="form-control" id="company">
        </div>
        <div class="col-md-3 col-lg-2">
          <label for="company"> Forma de Pago </label>
        <input type="text" class="form-control" id="company" placeholder="EJ: 10 CUOTA, PAGO CON PAC">
      </div>
      <div class="col-md-3 col-lg-2">
        <label for="company"> Primera Cuota </label>
      <input type="date" class="form-control" id="company">
    </div>
      </div>
    </div>
    <hr>
    <div class="p-1">   
      <div class="center form-row" id="DatosAsegurados">
        <div class="col-md-3 col-lg-2">
            <label for="company"> Comision Afecta % </label>
          <input type="number" class="form-control" placeholder="Valor Afecta %" id="company">
        </div>
        <div class="col-md-2 col-lg-2">
            <label for="company"> Prima Afecta </label>
          <input type="number" class="form-control" placeholder=" Prima Afecta" id="company">
        </div>
        <div class="col-md-2 col-lg-2">
            <label for="company"> Comisión Exenta % </label>
          <input type="number" class="form-control" id="company" placeholder=" Valor Exenta % ">
        </div>
        <div class="col-md-2 col-lg-2">
            <label for="company"> Prima Exenta </label>
          <input type="number" class="form-control" id="company" placeholder=" Prima Exenta ">
        </div>
        
        <div class="col-md-2 col-lg-2">
            <label for="company"> Prima Neta </label>
          <input type="number" class="form-control" id="company" placeholder=" Prima NETA ">
        </div>
        
        <div class="col-md-2 col-lg-2">
            <label for="company"> IVA </label>
          <input type="number" class="form-control" id="company" placeholder=" IVA ">
        </div>
        <div class="col-md-2 col-lg-2">
            <label for="company"> Prima Bruta </label>
          <input type="number" class="form-control" id="company" placeholder=" Prima Bruta ">
        </div>
        <div class="col-md-2 col-lg-2">
            <label for="company"> Tipo Moneda </label>
          <select class="form-control" id="company" placeholder=" Tipo de moneda como se pagara ">
            <option value="">UF</option>
            <option value="">CLP</option>
            <option value="">ARP</option>
            <option value="">AMD</option>
          </select>
        </div>
      </div>
    </div>
    <hr>
    <div class="p-1">   
      <div class="center form-row" id="DatosAsegurados">
          <div class="col-md-2 col-lg-2">
              <label for="company"> Sub-Ramo </label>
            <input type="number" class="form-control" placeholder=" Sub Ramo " id="company">
          </div>
          <div class="col-md-2 col-lg-2">
              <label for="company"> Monto Total </label>
            <input type="number" class="form-control" placeholder=" Monto Asegurado Total " id="company">
          </div>
          <div class="col-md-2 col-lg-2">
              <label for="company"> Coberturas </label>
            <input type="text" class="form-control" id="company" placeholder=" Valor Excenta %">
          </div>
          <div class="col-md-2 col-lg-2">
              <label for="company"> Limites </label>
            <input type="text" class="form-control" id="company" placeholder=" Limites ">
          </div>
          <div class="col-md-2 col-lg-2">
              <label for="company"> Items </label>
            <input type="text" class="form-control" id="company" placeholder=" Items ">
          </div>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
      <button class="btn bg-primary m-2"> Agregar </button>
    </div>
</form>

